extends layout

block content
  h1(class="mb-4")= title

  - const items = results

  div.container-fluid
    div(class="row")
      each pigeon, index in items
        - let destination = `dispatch(\"/pigeons/update?id=${pigeon._id}\")`
        div(class="col-sm-2")
          p Breed: #{pigeon.breed}
          p Gender: #{pigeon.gender}
          p Price: #{pigeon.price}
          button(class="btn btn-primary", onclick=destination) Update

    script.
      function dispatch(path){
        window.location.href=path
      }


